requests==2.23.0
beautifulsoup4==4.6.3
numpy==1.19.5
pandas==1.1.5
opencv-python-headless==4.1.2.30
easyocr==1.4.1
polyglot==16.7.4
PyICU==2.8
Morfessor==2.0.6
pycld2==0.41
morfeusz2==1.99.3
scikit-learn==1.0.1
matplotlib==3.2.2
joblib==1.1.0